<HTML>
<HEAD>
<TITLE>Project Test Execution Report</TITLE>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
</HEAD>


<BODY>
	<CENTER>
		<TABLE>
			#foreach($suiteName in ${Suites.keySet()})
			<TR>
				<TD>$suiteName</TD>
			</TR>
			<TR>
			#foreach($TestContexts in $Suites.get($suiteName))
			<TR>
			<TABLE>
				#foreach($TestContext in ${TestContexts.keySet()})
				<TR>
				<TD>$TestContext</TD>
				</TR>
				<TR>
					#foreach($Test in $TestContexts.get($TestContext))
						<TD> $Test </TD>
					#end
				</TR>
				#end
			</TABLE>
			</TR>
			#end 
			</TR>
			#end
		</TABLE>
	</CENTER>

</BODY>
</HTML>