<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySuite">

 <listeners>
        <listener class-name="com.util.retry.AnnotationTransformer"/>
        <listener class-name = "com.util.report.TestReport" />
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
   </listeners>
  
	<test name="mytest">
		<classes>
			<class name="com.rest.testrest.AppTest"/>
		</classes>
	</test>
</suite>